.modalContainer{
    padding-top: 16px;
    position:absolute; 
    top:0px; 
    left:5px; 
    display:flex; 
    justify-content:center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.popupBackground{
    opacity: 0;
}
.modalContainer > button {
    position: absolute;
    top:16px;
    left:16px;
}

.modalContainer > p {
    font-size: medium;
}

.poweredby{
  font-size: 10px !important;
}

.poweredbyspan{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-top: 30px;
}

.linkToRMP{
  font-size: medium !important;
}

/* Button styles copied from https://codepen.io/sebj54/pen/oxluI*/
.btn {
    position: relative;
  
    display: block;
    padding: 5;
    margin: 2;
  
    overflow: hidden;
    cursor: pointer;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    
    background-color: #2ecc71;
    color: #ecf0f1;
    
    transition: background-color .3s;
  }
  
  .btn:hover, .btn:focus {
    background-color: #27ae60;
  }
  
  .btn > * {
    position: relative;
  }
  
  .btn span {
    display: block;
    padding: 12px 24px;
  }
  
  .btn:before {
    content: "";
    
    position: absolute;
    top: 50%;
    left: 50%;
    
    display: block;
    width: 0;
    padding-top: 0;
      
    border-radius: 100%;
    
    background-color: rgba(236, 240, 241, .3);
    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .btn:active:before {
    width: 120%;
    padding-top: 120%;
    
    transition: width .2s ease-out, padding-top .2s ease-out;
  }
